<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Banner</key>
	<array>
		<string>https://img.alicdn.com/tps/TB12v.vOFXXXXc8apXXXXXXXXXX-520-280.jpg</string>
		<string>https://aecpm.alicdn.com/simba/img/TB130G0NFXXXXXLapXXSutbFXXX.jpg</string>
		<string>https://img.alicdn.com/simba/img/TB1rUHRNXXXXXbIapXXSutbFXXX.jpg</string>
	</array>
	<key>Category</key>
	<array>
		<string>鱼竿</string>
		<string>浮漂</string>
		<string>鱼钩</string>
		<string>鱼线</string>
		<string>饵料</string>
		<string>鞋服</string>
		<string>配件</string>
		<string>装备</string>
	</array>
	<key>ProductBrief</key>
	<dict>
		<key>default</key>
		<array>
			<dict>
				<key>imageUrl</key>
				<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i1/TB1d3ZVOFXXXXbYXXXXXXXXXXXX_!!0-item_pic.jpg_360x360Q90.jpg</string>
				<key>info</key>
				<string>光威鱼竿4.5/5.4/6.3米战影碳素台钓竿超硬鲤鱼竿渔具钓鱼竿特价</string>
				<key>price</key>
				<string>600.00</string>
				<key>vipPrice</key>
				<string>400.00</string>
				<key>saleNumber</key>
				<string>50</string>
			</dict>
			<dict>
				<key>imageUrl</key>
				<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i1/TB1d3ZVOFXXXXbYXXXXXXXXXXXX_!!0-item_pic.jpg_360x360Q90.jpg</string>
				<key>info</key>
				<string>光威鱼竿4.5/5.4/6.3米战影碳素台钓竿超硬鲤鱼竿渔具钓鱼竿特价</string>
				<key>price</key>
				<string>600.00</string>
				<key>vipPrice</key>
				<string>400.00</string>
				<key>saleNumber</key>
				<string>50</string>
			</dict>
			<dict>
				<key>imageUrl</key>
				<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i1/TB1d3ZVOFXXXXbYXXXXXXXXXXXX_!!0-item_pic.jpg_360x360Q90.jpg</string>
				<key>info</key>
				<string>光威鱼竿4.5/5.4/6.3米战影碳素台钓竿超硬鲤鱼竿渔具钓鱼竿特价</string>
				<key>price</key>
				<string>600.00</string>
				<key>vipPrice</key>
				<string>400.00</string>
				<key>saleNumber</key>
				<string>50</string>
			</dict>
			<dict>
				<key>imageUrl</key>
				<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i1/TB1d3ZVOFXXXXbYXXXXXXXXXXXX_!!0-item_pic.jpg_360x360Q90.jpg</string>
				<key>info</key>
				<string>光威鱼竿4.5/5.4/6.3米战影碳素台钓竿超硬鲤鱼竿渔具钓鱼竿特价</string>
				<key>price</key>
				<string>600.00</string>
				<key>vipPrice</key>
				<string>400.00</string>
				<key>saleNumber</key>
				<string>50</string>
			</dict>
		</array>
		<key>鱼竿推荐</key>
		<array>
			<dict>
				<key>imageUrl</key>
				<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i1/TB1d3ZVOFXXXXbYXXXXXXXXXXXX_!!0-item_pic.jpg_360x360Q90.jpg</string>
				<key>info</key>
				<string>光威鱼竿4.5/5.4/6.3米战影碳素台钓竿超硬鲤鱼竿渔具钓鱼竿特价</string>
				<key>price</key>
				<string>600.00</string>
				<key>vipPrice</key>
				<string>400.00</string>
				<key>saleNumber</key>
				<string>50</string>
			</dict>
			<dict>
				<key>imageUrl</key>
				<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i1/TB1d3ZVOFXXXXbYXXXXXXXXXXXX_!!0-item_pic.jpg_360x360Q90.jpg</string>
				<key>info</key>
				<string>光威鱼竿4.5/5.4/6.3米战影碳素台钓竿超硬鲤鱼竿渔具钓鱼竿特价</string>
				<key>price</key>
				<string>600.00</string>
				<key>vipPrice</key>
				<string>400.00</string>
				<key>saleNumber</key>
				<string>50</string>
			</dict>
			<dict>
				<key>imageUrl</key>
				<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i1/TB1d3ZVOFXXXXbYXXXXXXXXXXXX_!!0-item_pic.jpg_360x360Q90.jpg</string>
				<key>info</key>
				<string>光威鱼竿4.5/5.4/6.3米战影碳素台钓竿超硬鲤鱼竿渔具钓鱼竿特价</string>
				<key>price</key>
				<string>600.00</string>
				<key>vipPrice</key>
				<string>400.00</string>
				<key>saleNumber</key>
				<string>50</string>
			</dict>
			<dict>
				<key>imageUrl</key>
				<string>https://g-search1.alicdn.com/img/bao/uploaded/i4/i1/TB1d3ZVOFXXXXbYXXXXXXXXXXXX_!!0-item_pic.jpg_360x360Q90.jpg</string>
				<key>info</key>
				<string>光威鱼竿4.5/5.4/6.3米战影碳素台钓竿超硬鲤鱼竿渔具钓鱼竿特价</string>
				<key>price</key>
				<string>600.00</string>
				<key>vipPrice</key>
				<string>400.00</string>
				<key>saleNumber</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
