<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>鱼竿</string>
	<string>浮漂</string>
	<string>鱼钩</string>
	<string>鱼线</string>
	<string>饵料</string>
	<string>鞋服</string>
	<string>配件</string>
	<string>装备</string>
</array>
</plist>
