<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ResponseStatus</key>
	<dict>
		<key>200</key>
		<string>成功</string>
		<key>400</key>
		<string>失败</string>
		<key>401</key>
		<string>数据不合法</string>
		<key>403</key>
		<string>非法参数</string>
	</dict>
	<key>ShopCategory</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/goods/classification</string>
		<key>RequestMethod</key>
		<string>GET</string>
		<key>RequestParam</key>
		<dict>
			<key>pid</key>
			<string>产品id</string>
		</dict>
		<key>ResponseParam</key>
		<dict>
			<key>id</key>
			<string>数据id</string>
			<key>title</key>
			<string>分类名称</string>
			<key>pid</key>
			<string>分类id</string>
			<key>uploads</key>
			<string>图标</string>
		</dict>
	</dict>
	<key>CategoryList</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/goods/classList</string>
		<key>RequestMethod</key>
		<string>GET</string>
		<key>RequestParam</key>
		<dict>
			<key>id</key>
			<string>分类id</string>
			<key>page</key>
			<string>页数</string>
		</dict>
		<key>ResponseParam</key>
		<dict>
			<key>id</key>
			<string>数据id</string>
			<key>pid</key>
			<string>分类id</string>
			<key>name</key>
			<string>商品名称</string>
			<key>pay</key>
			<string>原价</string>
			<key>price</key>
			<string>现价</string>
			<key>images_url</key>
			<string>图片</string>
			<key>total_num</key>
			<string>销量</string>
			<key>up_title</key>
			<string>分类名称</string>
		</dict>
	</dict>
	<key>ShopMarketHomeListAggregatedData</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/goods/index</string>
		<key>RequestMethod</key>
		<string>GET</string>
		<key>RequestParam</key>
		<dict/>
		<key>ResponseParam</key>
		<dict>
			<key>ShopFlag</key>
			<array>
				<string>shopping</string>
				<string>fishtree</string>
			</array>
			<key>id</key>
			<string>数据id</string>
			<key>pid</key>
			<string>分类id</string>
			<key>name</key>
			<string>商品名称</string>
			<key>pay</key>
			<string>原价</string>
			<key>price</key>
			<string>现价</string>
			<key>images_url</key>
			<string>图片</string>
			<key>total_num</key>
			<string>销量</string>
			<key>up_title</key>
			<string>分类名称</string>
		</dict>
	</dict>
	<key>ProductDetail</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/goods/detail</string>
		<key>RequestMethod</key>
		<string>GET</string>
		<key>RequestParam</key>
		<dict>
			<key>goods_id</key>
			<string>商品id</string>
			<key>userid</key>
			<string>用户id</string>
		</dict>
		<key>ResponseParam</key>
		<dict>
			<key>id</key>
			<string>数据id</string>
			<key>name</key>
			<string>商品名称</string>
			<key>pay</key>
			<string>原价</string>
			<key>price</key>
			<string>现价</string>
			<key>images_url</key>
			<string>图片</string>
			<key>quantity</key>
			<string>库存</string>
			<key>total_num</key>
			<string>销量</string>
			<key>collection</key>
			<string>是否收藏，1为已收藏</string>
			<key>content</key>
			<string>详情介绍</string>
		</dict>
	</dict>
	<key>ProductDetailModel</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/goods/goodsModel</string>
		<key>RequestMethod</key>
		<string>GET</string>
		<key>RequestParam</key>
		<dict>
			<key>id</key>
			<string>商品id</string>
		</dict>
		<key>ResponseParam</key>
		<dict>
			<key>id</key>
			<string>数据id</string>
			<key>price</key>
			<string>现价</string>
			<key>quantity</key>
			<string>库存</string>
			<key>model</key>
			<string>商品型号</string>
		</dict>
	</dict>
	<key>AddAddress</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/user/createRess</string>
		<key>RequestMethod</key>
		<string>POST</string>
		<key>RequestParam</key>
		<dict>
			<key>user_id</key>
			<string>当前用户ID</string>
			<key>user_name</key>
			<string>收货人名字</string>
			<key>mobile</key>
			<string>收货人电话</string>
			<key>prov</key>
			<string>省份</string>
			<key>city</key>
			<string>城市</string>
			<key>area</key>
			<string>区</string>
			<key>address</key>
 			<string>详细地址</string>
			<key>zcode</key>
 			<string>邮编</string>
			<key>status</key>
			<string>是否设为默认收货地址，默认为0，1为设置该地址为默认地址</string>
		</dict>
		<key>ResponseParam</key>
		<dict/>
	</dict>
	<key>AddressList</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/user/listAddress</string>
		<key>RequestMethod</key>
		<string>GET</string>
		<key>RequestParam</key>
		<dict>
			<key>user_id</key>
			<string>当前用户ID</string>
		</dict>
		<key>ResponseParam</key>
		<dict>
			<key>adres_id</key>
			<string>数据id</string>
			<key>user_name</key>
			<string>收货人名字</string>
			<key>mobile</key>
			<string>收货人电话</string>
			<key>prov</key>
			<string>省份</string>
			<key>city</key>
			<string>城市</string>
			<key>area</key>
			<string>区</string>
			<key>address</key>
 			<string>详细地址</string>
			<key>zcode</key>
 			<string>邮编</string>
			<key>status</key>
			<string>是否设为默认收货地址，默认为0，1为设置该地址为默认地址</string>
		</dict>
	</dict>
	<key>ModifyAddressShowInfo</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/user/upAddress</string>
		<key>RequestMethod</key>
		<string>GET</string>
		<key>RequestParam</key>
		<dict>
			<key>adres_id</key>
			<string>数据id</string>
		</dict>
		<key>ResponseParam</key>
		<dict>
			<key>adres_id</key>
			<string>数据id</string>
			<key>user_name</key>
			<string>收货人名字</string>
			<key>mobile</key>
			<string>收货人电话</string>
			<key>prov</key>
			<string>省份</string>
			<key>city</key>
			<string>城市</string>
			<key>area</key>
			<string>区</string>
			<key>address</key>
 			<string>详细地址</string>
			<key>zcode</key>
 			<string>邮编</string>
			<key>status</key>
			<string>是否设为默认收货地址，默认为0，1为设置该地址为默认地址</string>
		</dict>
	</dict>
	<key>CommitModifyAddress</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/user/upAddress</string>
		<key>RequestMethod</key>
		<string>POST</string>
		<key>RequestParam</key>
		<dict>
			<key>adres_id</key>
			<string>数据id</string>
			<key>adres_id</key>
			<string>数据id</string>
			<key>user_name</key>
			<string>收货人名字</string>
			<key>mobile</key>
			<string>收货人电话</string>
			<key>prov</key>
			<string>省份</string>
			<key>city</key>
			<string>城市</string>
			<key>area</key>
			<string>区</string>
			<key>address</key>
 			<string>详细地址</string>
			<key>zcode</key>
 			<string>邮编</string>
			<key>status</key>
			<string>是否设为默认收货地址，默认为0，1为设置该地址为默认地址</string>
		</dict>
		<key>ResponseParam</key>
		<dict/>
	</dict>
	<key>deleteAddress</key>
	<dict>
		<key>RequestURL</key>
		<string>http://test.m.yundiaoke.cn/api/user/delAddress</string>
		<key>RequestMethod</key>
		<string>GET</string>
		<key>RequestParam</key>
		<dict>
			<key>adres_id</key>
			<string>数据id</string>
		</dict>
		<key>ResponseParam</key>
		<dict/>
	</dict>
</dict>
</plist>
